* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas:
        "header header"
        "content content"
        "content content"
        "footer footer";
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "logo play"
        "text play";
    background-color: #FFCC00;
    height: 100vh;

}

.logo {
    grid-area: logo;
}

.logo img {
    padding: 24px;
    width: 30%;
}

.play {
    grid-area: play;
}

.play img {
    width: 87%;
}

.text {
    grid-area: text;
    justify-items: left;
    margin-top: 50%;
    padding: 24px;

}

.content {
    grid-area: content;
    display: grid;
    background-color: #313131;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "purple-draw purple-draw"
                        "online online"
                        "devices devices";

}

.div1{
    grid-area: purple-draw ;
    background-color: #660099;
    height: auto;
    }

.footer {
    display: grid;
    width: 100vw;
    grid-template-columns: 50% 50%;
    grid-template-areas: "mouth arrow";
}

.mouth {
    grid-area: mouth;
    background-color: #660099;
    text-align: center;

}

.mouth img {
    min-height: 60%;
    min-width: 60%;
    margin-top: 160px;
}

.arrow {
    grid-area: arrow;
    background-color: #FF3333;
    text-align: center;

}

.arrow img {
    min-height: 60%;
    min-width: 60%;
    margin-top: 190px;

}



/* mobile device */
@media screen and (max-width:480px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100vh 100px 100px 100px 100vh;
        grid-template-areas:
            "header"
            "content"
            "content"
            "content"
            "footer";
    }

    .header {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas:
            "logo"
            "play"
            "text";

        padding: 36px;

        background-color: #FFCC00;
    }

    .logo img {
        width: 25%;
    }

    .play img {
        width: 75%;
        margin-top: -48px;
    }

    .text {
        grid-area: text;
        justify-items: left;
        align-items: center;

    }

    .content {
        grid-area: content;

        background-color: #313131;
    }

    .footer {
        display: grid;
        grid-area: footer;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "mouth"
            "arrow";
    }

    .mouth {
        text-align: center;
        padding: 36px;
        background-color: #660099;
    }

    .mouth img {
        width: 75%;
    }

    .arrow {
        text-align: center;
        padding: 36px;
        background-color: #FF3333;
    }

    .arrow img {
        width: 75%;
        transform: rotate(-45deg);
        margin-top: 64px;
    }
}